*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


body{
    height: 100vh;
    background:url('https://images.unsplash.com/photo-1584735935682-2f2b69dff9d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    min-width: 60%;
    height: 250px;
    background-color: #AFA9A2;
    box-shadow: 0 0 3px;
    border-radius: 20px;
    border: none;
}

#timer{
    width: 100%;
    font-size: 72px;
    text-align: center;
    margin: 0px auto;
    padding: 35px;
}

.buttons{
    text-align: center;
}

button{
    margin: 0 10px;
    border: none;
}

button i {
    font-size: 2rem;
    padding: 10px;
    color: white;
    width: 50px;
}

#play{
    background-color: greenyellow;
}

#pause{
    background-color: #FFD700;
}

#reset{
    background-color: orange;
}